.black-box {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    span {
        color: pink;
    }
}

.button-design {
    width: 100px;
    height: 50px;
    background-color: rgb(56, 54, 190);
    float: left;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 3px solid black;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 30px;
        margin-left: 10px;
        margin-top: 10px;
        border: 3px solid black;
        border-radius: 10px;
    }
}

.cow-field {
    background-color: greenyellow;
    width: 500px;
    height: 300px;
    border: 4px dashed green;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .counter {
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
        font-size: 50px;
        font-weight: bold;
    }
    button{
        margin: 10px;
    }
}
