.black-box {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    span {
        color: pink;
    }
}

.button-design {
    width: 100px;
    height: 50px;
    background-color: rgb(56, 54, 190);
    float: left;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 3px solid black;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 30px;
        margin-left: 10px;
        margin-top: 10px;
        border: 3px solid black;
        border-radius: 10px;
    }
}

.cow-field {
    background-color: greenyellow;
    width: 500px;
    height: 300px;
    border: 4px dashed green;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .counter {
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
        font-size: 50px;
        font-weight: bold;
    }
    button {
        margin: 10px;
    }
}

.circler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.sq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 5px solid red;
    transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 10px;
}

button {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 1px;
    height: 38px;
    width: 120px;
    line-height: 38px;
    overflow: hidden;
    background: #cf4d99;
    border-radius: 3px;
    box-shadow: 0 15px 30px rgba(black, 0.1);
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 7px;
}

.field {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .field_part {
        background-color: aquamarine;
        margin: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        min-width: 100px;
        min-height: 100px;
        width: 30%;
        box-sizing: border-box;

        .cow {
            height: 140px;
            width: 140px;
            border-radius: 50%;
            border: 4px dotted purple;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sheep {
            height: 140px;
            width: 140px;
            border: 4px dotted rgb(47, 75, 230);
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .horse {
            height: 100px;
            width: 100px;
            border: 4px dotted rgb(219, 30, 30);
            transform: rotate(45deg);
            margin: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            h2, button {
                transform: rotate(-45deg);
            }
        }
    }
}
.buttons-holder {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
