.domino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_edit {
        width: 132px;
        margin: 30px 0 0 0;
        input {
            margin: -1px;
            width: 50px;
            font-size: 30px;
            border: 2px solid #262524;
            outline: none;
            text-align: center;
            margin-bottom: 10px;
            outline: none;
        }
        &_ok {
            cursor: pointer;
        }
    }
    &_table {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 70%;
    }
    &_message {
        background-color: #f7ecd4;
        padding: 10px;
        margin-top: 10px;
        border: 2px solid #262524;
        border-radius: 10px;
        transition: all 0.5s;
    }
    &_create {
        border: 2px solid #f7ecd4;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        &_header {
            display: flex;
            justify-content: center;
            padding: 15px;
            font-size: 20px;
            color: #f7ecd4;
            font-weight: bold;
        }
        &_body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input {
                margin: -1px;
                width: 50px;
                font-size: 30px;
                border: 2px solid #262524;
                outline: none;
                text-align: center;
                margin-bottom: 10px;
            }
        }
        button {
            background-color: #f7ecd4;
        }
    }
}
