@import "./App.scss";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: azure;

}

.blue-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 24, 207);
  width: 200px;
  height: 200px;
  margin: 20px;
}

.red-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

